<h2>Show tricount</h2>

<%= link_to 'Voir dépenses', user_tricount_expenses_path(user_id: @tricount.user, tricount_id: @tricount) %>

<div class= "my-3">
  <%= @tricount.title %>

  <p>Participants au tricount: </p>

  <ul>

    <% @participants.each do |participant| %>
      <% participant.names.each do |p| %>
        <li>
          <%= p %>
        </li>
      <% end %>
    <% end %>

  </ul>
</div>
