<h2> index dépenses dans tricount</h2>

<%= link_to 'Ajouter dépense', new_user_tricount_expense_path(user_id: @tricount.user, tricount_id: @tricount) %>


<% @expenses.each do |expense| %>

<div>
  <%= expense.title %>
  <%= expense.description %>
  <p> <%= expense.amount_cents.fdiv(100) %>  euros</p>

</div>

<% end %>
